body {
    margin: 0 auto;
}

/***********************************************************************
 *  Baner Principal
 **********************************************************************/

/*.baner_ppal {

    height: 100vh;
    background-image: url(Imagenes-Iconos/microphone-1261793_1280.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}*/

/***********************************************************************
 *  Barra de Navegacion
 **********************************************************************/

.barra{

background: rgba(73,72,116,1);


}

.logo_barra{
    display: flex;
}

/*.logo_barra> li {

    color: white;
    margin: 15px 0px;
    padding-top: 2px;
}*/

.imagen_barra{

    width: 110px

}

.lista_navegacion{

    display: flex;
    list-style: none;
    margin: 0;
    opacity: 0.7;
   font-size: 1.2em;
}

.link_barra > a{
    text-decoration: none;
    color: white;
}
.link_barra:hover{
    text-decoration: underline;
}
.derecha{

    display: flex;
    margin-left: auto;
}

.lista_navegacion > li,button {

    color: white;
    margin: 15px 15px;
    padding-top: 10px;
}

@media only screen and (max-width: 600px) {
    .lista_navegacion {
        font-size: 0.9em;
        padding: 0;
    }
}

@media only screen and (max-width: 465px) {
    .lista_navegacion > li,button {

    color: white;
    margin: 2px 2px;
    padding-top: 5px;
    }

    .lista_navegacion {
        font-size: 0.5em;
        padding: 0;
    }

    .imagen_barra{

    width: 20px;

}
}


.boton {
    box-shadow:inset -4px 46px 10px -27px #351cc4;
    background-color:#5f74c7;
    border-radius:6px;
    border:1px solid #ffffff;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:1em;
    padding:6px 6px;
    text-decoration:none;
    text-shadow:0px 0px 8px #7b7b85;
}
.boton:hover {
    background-color:#5f11f0;
}
.boton:active {
    position:relative;
    top:1px;
}

/*Si se quiere que la barra quede siempre en la parte superior se habilita este codigo*/
/*.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}*/


/*********************************************************************
 *  Elementos Baner
 **********************************************************************/

.baner_ppal {
    /*show heigh: auto*/
    height: 95vh;
    background-image: url(Imagenes-Iconos/microphone-1261793_1280.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;

    
}

.elementos_baner{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.titulo_baner{

    color: white;
    font-size: 1.5em;
    /*font-family: 'Sriracha', cursive;*/
    font-family: 'Manrope', sans-serif;
    text-decoration: none;
    margin: auto;
    align-self: center;
    text-align: center;

}

.titulo_baner > h1{

    margin-top: 60px;
    margin-bottom: 4em;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;

}

.busqueda{

    margin: 3px;
    padding-top: 6em;
    padding-bottom: 1em;
}

.boton_baner {
    box-shadow: inset -4px 46px 10px -27px #351cc4;
    background-color: #252038;
    border-radius: 6px;
    border: 2px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 1em;
    padding: 20px 48px;
    text-decoration: none;
    text-shadow: 0px 0px 8px #7b7b85;
    opacity: 0.5;
}
.boton_baner:hover {
    background-color:#5f11f0;
    opacity: 1;
}
.boton_baner:active {
    position:relative;
    top:1px;
}

.ingreso_artista {
    color: #f5f5f6;
    text-decoration: none;
}

.ingreso{

    font-size: 1em;
    text-decoration: none;
    transition-duration: 0.3s all;
    font-family: Arial;
}

.ingreso:hover{

    text-decoration: underline;
}

@media only screen and (max-width: 750px) {

    .busqueda{

    margin: 3px;
    padding-top: 2em;
    padding-bottom: 1em;
    }
}

@media only screen and (max-width: 400px) {
    
    /*.busqueda{

    margin: 3px;
    padding-top: 0px;
    padding-bottom: 1em;
    }*/
    .titulo_baner > h1{

    margin-bottom: 1em;
  

    }
}

@media only screen and (max-width: 330px) {
    
    /*.busqueda{

    margin: 3px;
    padding-top: 0px;
    padding-bottom: 1em;
    }*/
    .busqueda{

    margin: 1px;
    padding-top: 0px;
    padding-bottom: 0px;
    }

    .boton_baner {
    box-shadow: inset -4px 46px 10px -27px #351cc4;
    background-color: #252038;
    border-radius: 6px;
    border: 2px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 1em;
    padding: 10px 24px;
    text-decoration: none;
    text-shadow: 0px 0px 8px #7b7b85;
    opacity: 0.5;
}
}

/**************************************************************************
Como funciona
*******************************************************************************/

.como_funciona{

    
    font-family: 'Paytone One', sans-serif;
    text-align: center;
    font-size: 1.5em;
    color: rgb(97, 48, 131);
}

.wrapper_como_funciona{

    /*display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;*/

    display: flex;
    justify-content: space-around;

   /* grid-gap: 100px;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));*/
}

.bloque> p {

    padding: 0px 50px;
}




@media only screen and (max-width: 650px) {

    .wrapper_como_funciona{

    display: flex;
    flex-wrap: wrap;

    }
    .bloque>p{

        padding: 0px;
        font-size: 0.5em;
    }


}
.bloque>img{

    width: 30%;
}
.img_como_funciona{

    /*background-color: #444;*/
    padding: 5px;

}

/**************************************************************************
Por que es esto genial?
*******************************************************************************/

.porque_genial{

    background-color: rgb(240, 240, 240);;
    text-align: center;
    display: block;

}

.descripcion_genial{

    display: block;
}

.encabezado_genial{

 
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    font-size: 1.6em;
    font-family: 'Manrope', sans-serif;
}

.descripcion_superior{
    display: flex;
}

.bloque_genial{

    padding-top: 2em;
    padding-bottom: 4em;
}

.subtitulo_genial{

    display: flex;
    justify-content: center;

}

.titulo_imagen{
    align-self: center;
}

.icono{

    height: 100px;
}

.cuerpo_genial{

    font-size: 1.5em;
}

.cuerpo_genial > p{

    padding: 1px 50px;
    margin-top: 1px;

}

.descripcion_inferior{
    display: flex;
    justify-content: space-around;
}

.inferior{

    padding: 0px 6em;
}

@media only screen and (max-width: 800px) {

    .encabezado_genial{

   
    padding-top: 0.75em;
    padding-bottom: 1em;
    font-size: 0.75em;
    font-family: 'Manrope', sans-serif;
    text-align: center;
    }
    .bloque_genial{

    padding-top: 0.5em;
    padding-bottom: 1em;
    }
    .cuerpo_genial{

    font-size: 1em;
    }
    .inferior{

    padding: 0px 15px;
    }
}
@media only screen and (max-width: 600px) {

    .encabezado_genial{


    padding-top: 0.75em;
    padding-bottom: 1em;
    font-size: 0.75em;
    font-family: 'Manrope', sans-serif;
    text-align: center;
    }
    .bloque_genial{

    padding-top: 1em;
    padding-bottom: 2em;
    }

    .cuerpo_genial > p{

    padding: 1px 10px;
    margin-top: 1px;

    }
    .cuerpo_genial{

    font-size: 0.7em;
    }
    .inferior{

    padding: 0px 1em;
    }
    .icono{

    height: 50px;
    }
    .porque_genial{
        text-align: left;
    }
    .subtitulo_genial{

    display: flex;
    justify-content: flex-start;

    }
    .titulo_imagen > h3{

        align-self: left;
        font-size: 0.7em;
    }
}
/**************************************************************************
Únete
*******************************************************************************/

.unete{

    display: flex;
}

.imagen_unete{

    height: 30em;
    width: 70em;
    background-image: url(Imagenes-Iconos/band-691224_1920.jpg);
    background-size: cover;
    opacity: 0.6;
}

.descripcion_unete{

    display: flex;
    flex-direction: column;
    background-color: rgb(245,237,251);
    
}

.titulo_unete{

    margin: 1px;
    font-size: 1.6em;
    font-family: 'Manrope', sans-serif;
    text-align: center;
    color: rgb(97, 48, 131);
    font-style: italic;
    padding-bottom: 1em;
}

.cuerpo_unete{

    padding-bottom: 2em;
    font-size: 1.2em;
    font-family: 'Manrope', sans-serif;
    text-align: center;
    color: rgb(97, 48, 131);
    padding-left: 2em;
    padding-right: 2em;
}

.boton_unete > a{

    text-decoration: none;
    color: white;

}

.boton_unete{

    
    text-align: center;
    background-color: #790a6591;
    border-radius: 6px;
    border: 2px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    font-family: Arial;
    font-size: 1em;
    padding: 20px 10px;
    text-decoration: none;
    opacity: 0.9;
    margin-right: 7em;
    margin-left: 7em;
    text-decoration-color: 
    
} 

.boton_unete:hover {
    background-color:#750761d1;
    opacity: 1;
}
.boton_unete:active {
    position:relative;
    top:1px;
}

@media only screen and (max-width: 830px) {

    .cuerpo_unete{

    padding-bottom: 1em;
    font-size: 1em;
    font-family: 'Manrope', sans-serif;
    text-align: center;
    color: rgb(97, 48, 131);
    padding-left: 1em;
    padding-right: 1em;
    }
    .titulo_unete{
        font-size: 1em;
    }
    
}

@media only screen and (max-width: 400px) {

    .cuerpo_unete{


    font-size: 1em;
    font-family: 'Manrope', sans-serif;
    text-align: center;
    color: rgb(97, 48, 131);
    padding-left: 0.5em;
    padding-right: 0.5em;
    }
    .titulo_unete{
        font-size: 0.75em;
    }

    .imagen_unete{

    height: 20em;
    width: 50vh;
    
    }
    
}

/***********************************************************************
 *  Footer
 **********************************************************************/
.footer{

    display: flex;
    justify-content: flex-start;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    background-color: #a4a2f7;
    opacity: 0.6;

}

.logo_footer{
    padding: 0px 2px;
}
.encabezado_logo_footer{

    display: flex;
    justify-content: flex-start;
}

.imagen_footer > img{

    width: 80px;
}
 
.titulo_footer > h1{

    margin: 3px;
    font-size: 1.75em;
    font-family: 'Manrope', sans-serif;
    text-align: center;

}
.copy_right > p{

    margin: 0px;
    font-size: 0.75em;
    padding-right: 10px;
}
.copy_right{

    padding-right: 10px;
    margin-left: 0px;
}

.caja_footer{

    padding: 0px 60px;
}

.titulo{
    font-weight: bold;
}

.footer_list{

    list-style: none;
    text-decoration: none;
    padding: 0px;

}

.footer_item >a{

    text-decoration: none;
    color: black;

}

.footer_item{

    padding: 3px 0px;
}

.footer_item:hover{
    text-decoration: underline;
}

.imagen_social{

    display: flex;
    flex-wrap: wrap;
}

.icono_social{

    padding: 5px;
    margin-top: 10px;

}

@media only screen and (max-width: 930px) {


    .caja_footer{

    padding: 0px 15px;
    }   
    
}

@media only screen and (max-width: 800px) {

    .icono_social{

    padding: 2px;
    margin-top: 5px;

    }
    .footer_item{
        font-size: 0.5em;
    }
    .caja_footer{

    padding: 0px 15px;
    }   
    
}

@media only screen and (max-width: 630px) {

    .icono_social{

    width: 40px;

    }
    .footer_item{
        font-size: 0.5em;
    }
    .titulo{
        font-size: 0.6em;
    }
    .caja_footer{

    padding: 0px 10px;
    } 
    .titulo_footer > h1{

    margin: 1px;
    font-size: 0.75em;
    font-family: 'Manrope', sans-serif;
    text-align: center;

    }
    .copy_right > p{

    margin: 0px;
    font-size: 0.5em;
    padding-right: 10px;
    }
    .copy_right{

    padding-right: 5px;
    margin-left: 0px;
    }  
    
}

@media only screen and (max-width: 450px) {

    .icono_social{

    width: 20px;

    }
    
    .caja_footer{

    padding: 0px 1px;
    } 
    
}
/*https://paulund.co.uk/how-to-create-shiny-css-buttons*/
/***********************************************************************
 *  Green Background
 **********************************************************************/

/*.footer {
font-size: 1.5em;
background: rgb(238,174,202);
background: -moz-linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(255,189,113,0.4380664652567976) 100%);
background: -webkit-linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(255,189,113,0.4380664652567976) 100%);
background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(255,189,113,0.4380664652567976) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeaeca",endColorstr="#ffbd71",GradientType=1);
}*/

